<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT PROGRAM HERE</h1>
    <form method="post" action="/admin/TourPage/update/<%= programs.id %>">
        <label for="Company Name">Program Name</label>
        <input type="text" name="programName" value="<%= programs.namee %>">
        <label for="voucher_number">Cost</label>
        <input type="text" name="cost" value="<%= programs.cost %>">
        <label for="voucher_number">Description</label>
        <input type="text" name="description" value="<%= programs.description %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>